In [1]:
from IPython.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

### MECE

|Name|Id|Task|
|---|---|---|
|Divya Hanspal | 500225305|Q1|
|Mahima Patel |500223995|Q1|
|Brijalben Panchal|500224776|Q2|
|Anjali Bhardwaj|500223878|Q2|
|Nisarg Zaveri|500223552|Q3|
|Nidhiben Rana|500223498|Q3|
|Zuhair Moinuddin|500225673|Q4|
|Rohit|500224882|Q4|
|Prabhjot Singh|500226052|Q4|

#### Load Library

#### Load Library

In [2]:
import numpy as np
import pandas as pd
import math

## Q1 - For the below data build a Naive Bayes classifier and identify the class of the given data sets noting down the probabilities as the model would save them.

In [3]:
class NaiveBayesClassifier:
    def __init__(self):
        self.class_probabilities = {}
        self.feature_probabilities = {}

    def fit(self, X_train, y_train):
        # Calculate class probabilities
        total_samples = len(y_train)
        classes, class_counts = np.unique(y_train, return_counts=True)
        for class_, class_count in zip(classes, class_counts):
            self.class_probabilities[class_] = class_count / total_samples

        # Calculate feature probabilities for each class
        for feature_index in range(X_train.shape[1]):
            self.feature_probabilities[feature_index] = {}
            unique_values = np.unique(X_train[:, feature_index])
            for class_, class_count in zip(classes, class_counts):
                self.feature_probabilities[feature_index][class_] = {}
                for value in unique_values:
                    # Count occurrences of value in class
                    class_mask = y_train == class_
                    value_count = np.sum(X_train[class_mask][:, feature_index] == value)
                    # Calculate probability of feature value given class
                    self.feature_probabilities[feature_index][class_][value] = value_count / class_count

    def predict(self, X_test):
        predictions = []
        for sample in X_test:
            max_probability = -1
            predicted_class = None
            for class_, class_prob in self.class_probabilities.items():
                probability = class_prob
                for feature_index, feature_value in enumerate(sample):
                    if feature_index in self.feature_probabilities:
                        if class_ in self.feature_probabilities[feature_index] and feature_value in self.feature_probabilities[feature_index][class_]:
                            probability *= self.feature_probabilities[feature_index][class_][feature_value]
                        else:
                            # If feature value not seen in training, set probability to zero
                            probability = 0
                            break
                if probability > max_probability:
                    max_probability = probability
                    predicted_class = class_
            predictions.append(predicted_class)
        return predictions

In [4]:
df = pd.DataFrame({
    'age': ['<=30', '<=30', '31...40', '>40', '>40', '>40', '31...40', '<=30', '<=30', '>40', '<=30', '31...40', '31...40', '>40'],
    'income': ['high', 'high', 'high', 'medium', 'low', 'low', 'low', 'medium', 'low', 'medium', 'medium', 'medium', 'high', 'medium'],
    'student': ['no', 'no', 'no', 'no', 'yes', 'yes', 'yes', 'no', 'yes', 'yes', 'yes', 'no', 'yes', 'no'],
    'credit_rating': ['fair', 'excellent', 'fair', 'fair', 'fair', 'excellent', 'excellent', 'fair', 'fair', 'fair', 'excellent', 'excellent', 'fair', 'excellent'],
    'Class': ['no', 'no', 'yes', 'yes', 'yes', 'no', 'yes', 'no', 'yes', 'yes', 'yes', 'yes', 'yes', 'no']
})
df

        age  income student credit_rating Class
0      <=30    high      no          fair    no
1      <=30    high      no     excellent    no
2   31...40    high      no          fair   yes
3       >40  medium      no          fair   yes
4       >40     low     yes          fair   yes
5       >40     low     yes     excellent    no
6   31...40     low     yes     excellent   yes
7      <=30  medium      no          fair    no
8      <=30     low     yes          fair   yes
9       >40  medium     yes          fair   yes
10     <=30  medium     yes     excellent   yes
11  31...40  medium      no     excellent   yes
12  31...40    high     yes          fair   yes
13      >40  medium      no     excellent    no

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   age            14 non-null     object
 1   income         14 non-null     object
 2   student        14 non-null     object
 3   credit_rating  14 non-null     object
 4   Class          14 non-null     object
dtypes: object(5)
memory usage: 688.0+ bytes

In [6]:
X = df[df.drop(columns=['Class']).columns]
y = df['Class']

#### Create and train the Naive Bayes classifier

#### Convert object data type to numerical datatype

In [7]:
classifier = NaiveBayesClassifier()
classifier.fit(X.values, y.values)

#### Predict the values using model

In [8]:
Test = pd.DataFrame({
    'Id': ['A', 'B', 'C', 'D'],
    'Age': ['<=30', '31...40', '<=30', '>40'],
    'Income': ['low', 'high', 'medium', 'high'],
    'Student': ['no', 'yes', 'yes', 'no'],
    'Credit_Rating': ['fair', 'excellent', 'fair', 'excellent']
})
Test

  Id      Age  Income Student Credit_Rating
0  A     <=30     low      no          fair
1  B  31...40    high     yes     excellent
2  C     <=30  medium     yes          fair
3  D      >40    high      no     excellent

In [9]:
Test['Class'] = classifier.predict(Test[Test.drop(columns=['Id']).columns].values)
Test

  Id      Age  Income Student Credit_Rating Class
0  A     <=30     low      no          fair    no
1  B  31...40    high     yes     excellent   yes
2  C     <=30  medium     yes          fair   yes
3  D      >40    high      no     excellent    no

## Q2 - For the below data what would be the prediction for play using a Naive Bayes classifier?Please use Gaussian PDF for the continuous variables

#### Create Gaussian naive bayes classifier class

In [10]:
class GaussianClf:
    def __init__(self): # Intialization function
        self.lables = None
        self.priors = {}
        self.means = {}
        self.variances = {}
        
    def fit(self,X,y): #train model
        self.lables = np.unique(y)
        for lable in self.lables:
            X_label = X[y == lable]
            self.priors[lable] = len(X_label)/len(X)
            self.means[lable] = np.mean(X_label,axis=0)
            self.variances[lable] = np.var(X_label,axis=0)
        print('Lables:',self.lables)
        print('Means:',self.means)
        print('Varience:',self.variances)
            
    def calculateProbability(self,x,mean,variance): # calculate probability
        probability = 0
        try:
            exponent = -0.5 * ((x-mean)**2) / variance
            probability = (1.0/np.sqrt(2 * np.pi * variance)) * np.exp(exponent)
        except ValueError:
            print(ValueError, " Probability:",probability)
        return probability
    
    def predict(self,X): #Predict model for output
        predictions = []
        for x in X:
            classScore = {}
            for label in self.lables:
                prior = np.log(self.priors[label])
                mean = self.means[label]
                variance = self.variances[label]
                
                probability = self.calculateProbability(x,mean,variance)
                classScore[label] = np.sum(np.log(probability)) + prior
            
            predictedLabel = max(classScore,key=classScore.get)
            predictions.append(predictedLabel)
        
        return predictions

#### Read Dataset

In [11]:
df = pd.DataFrame({
    'outlook': ['sunny', 'sunny', 'overcast', 'rainy', 'rainy', 'rainy', 'overcast', 'sunny', 'sunny', 'rainy', 'sunny', 'overcast', 'overcast', 'rainy'],
    'temperature': [85, 80, 83, 70, 68, 65, 64, 72, 69, 75, 75, 72, 81, 71],
    'humidity': [85, 90, 88, 96, 80, 70, 65, 95, 70, 80, 70, 90, 75, 91],
    'windy': [False, True, False, False, False, True, True, False, False, False, True, True, False, True],
    'play': ['no', 'no', 'yes', 'yes', 'yes', 'no', 'yes', 'no', 'yes', 'yes', 'yes', 'yes', 'yes', 'no']
})
df

     outlook  temperature  humidity  windy play
0      sunny           85        85  False   no
1      sunny           80        90   True   no
2   overcast           83        88  False  yes
3      rainy           70        96  False  yes
4      rainy           68        80  False  yes
5      rainy           65        70   True   no
6   overcast           64        65   True  yes
7      sunny           72        95  False   no
8      sunny           69        70  False  yes
9      rainy           75        80  False  yes
10     sunny           75        70   True  yes
11  overcast           72        90   True  yes
12  overcast           81        75  False  yes
13     rainy           71        91   True   no

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   outlook      14 non-null     object
 1   temperature  14 non-null     int64
 2   humidity     14 non-null     int64
 3   windy        14 non-null     bool
 4   play         14 non-null     object
dtypes: bool(1), int64(2), object(2)
memory usage: 590.0+ bytes

* outlook column is categorical column convert it into numerical column
* windy column is boolean column convert it into numerical column

In [13]:
df.outlook = df.outlook.map({'sunny':2, 'overcast':1, 'rainy': 0})
df.windy = df.windy.astype(int)
df

    outlook  temperature  humidity  windy play
0         2           85        85      0   no
1         2           80        90      1   no
2         1           83        88      0  yes
3         0           70        96      0  yes
4         0           68        80      0  yes
5         0           65        70      1   no
6         1           64        65      1  yes
7         2           72        95      0   no
8         2           69        70      0  yes
9         0           75        80      0  yes
10        2           75        70      1  yes
11        1           72        90      1  yes
12        1           81        75      0  yes
13        0           71        91      1   no

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   outlook      14 non-null     int64
 1   temperature  14 non-null     int64
 2   humidity     14 non-null     int64
 3   windy        14 non-null     int32
 4   play         14 non-null     object
dtypes: int32(1), int64(3), object(1)
memory usage: 632.0+ bytes

#### create and train Gaussian Naive Bayes classifier

In [15]:
X = df[df.drop(columns=['play']).columns].values
y = df['play'].values

In [16]:
model = GaussianClf()
model.fit(X,y)

Lables: ['no' 'yes']
Means: {'no': array([ 1.2, 74.6, 86.2,  0.6]), 'yes': array([ 0.88888889, 73.        , 79.33333333,  0.33333333])}
Varience: {'no': array([ 0.96, 49.84, 75.76,  0.24]), 'yes': array([ 0.54320988, 33.77777778, 96.22222222,  0.22222222])}

#### Predict Data

In [17]:
Test = pd.DataFrame({
    'outlook': ['sunny', 'overcast', 'overcast', 'overcast'],
    'temperature': [87, 67, 72, 80],
    'humidity': [60, 64, 71, 67],
    'windy': [False, True, False, False]
})
Test

    outlook  temperature  humidity  windy
0     sunny           87        60  False
1  overcast           67        64   True
2  overcast           72        71  False
3  overcast           80        67  False

In [18]:
Test.outlook = Test.outlook.map({'sunny':2, 'overcast':1, 'rainy': 0})
Test.windy = Test.windy.astype(int)
Test

   outlook  temperature  humidity  windy
0        2           87        60      0
1        1           67        64      1
2        1           72        71      0
3        1           80        67      0

In [19]:
Test['play'] = model.predict(Test.values)
Test

   outlook  temperature  humidity  windy play
0        2           87        60      0  yes
1        1           67        64      1  yes
2        1           72        71      0  yes
3        1           80        67      0  yes

In [20]:
Test.outlook = Test.outlook.map({2:'sunny', 1:'overcast', 0:'rainy'})
Test.windy = Test.windy.astype(bool)
Test

    outlook  temperature  humidity  windy play
0     sunny           87        60  False  yes
1  overcast           67        64   True  yes
2  overcast           72        71  False  yes
3  overcast           80        67  False  yes

### Validate using GaussianNB

In [21]:
from sklearn.naive_bayes import GaussianNB

In [22]:

type(df.values)

numpy.ndarray

In [23]:
gnbModel = GaussianNB()
gnbModel.fit(X,y)

GaussianNB()

In [24]:
Test = pd.DataFrame({
    'outlook': ['sunny', 'overcast', 'overcast', 'overcast'],
    'temperature': [87, 67, 72, 80],
    'humidity': [60, 64, 71, 67],
    'windy': [False, True, False, False]
})
Test

    outlook  temperature  humidity  windy
0     sunny           87        60  False
1  overcast           67        64   True
2  overcast           72        71  False
3  overcast           80        67  False

In [25]:
Test.outlook = Test.outlook.map({'sunny':2, 'overcast':1, 'rainy': 0})
Test.windy = Test.windy.astype(int)
Test

   outlook  temperature  humidity  windy
0        2           87        60      0
1        1           67        64      1
2        1           72        71      0
3        1           80        67      0

In [26]:
Test['play'] = gnbModel.predict(Test.values)
Test

   outlook  temperature  humidity  windy play
0        2           87        60      0  yes
1        1           67        64      1  yes
2        1           72        71      0  yes
3        1           80        67      0  yes

In [27]:
Test.outlook = Test.outlook.map({2:'sunny', 1:'overcast', 0:'rainy'})
Test.windy = Test.windy.astype(bool)
Test

    outlook  temperature  humidity  windy play
0     sunny           87        60  False  yes
1  overcast           67        64   True  yes
2  overcast           72        71  False  yes
3  overcast           80        67  False  yes

## Q3 - For the below data Predict the output on (High, no, no, no) and (no, yes, no, yes) using a Naive Bayes model

In [28]:
df = pd.DataFrame({
    'Fever': ['no','average', 'high','high','average','no','average'],
    'Vomiting': ['no', 'no', 'no','yes', 'no','yes', 'yes'],
    'Diarrhea': ['no', 'no', 'no',  'yes', 'yes', 'yes', 'yes'],
    'Shivering': ['no', 'no', 'yes', 'no', 'no', 'no', 'no'],
    'Classification': ['H', 'I', 'I', 'S', 'S', 'B', 'B']
})

In [29]:
X = df[df.drop(columns=['Classification']).columns]
y = df['Classification']

#### Create and train the Naive Bayes classifier

In [30]:
classifier = NaiveBayesClassifier()
classifier.fit(X.values, y.values)

#### Predict the values using model

In [31]:
Test = pd.DataFrame({
    'Fever': ['High','no'],
    'Vomiting': ['no', 'yes'],
    'Diarrhea': ['no', 'no'],
    'Shivering': ['no','yes']
})
Test

  Fever Vomiting Diarrhea Shivering
0  High       no       no        no
1    no      yes       no       yes

In [32]:
Test['Classification'] = classifier.predict(Test.values)
Test

  Fever Vomiting Diarrhea Shivering Classification
0  High       no       no        no              B
1    no      yes       no       yes              B

## Q4. For below data predict the output on (-,+,-,+),(+,-,-,+) and (+,-,+,-) using both a Naive Bayes and a Bayes optimal classifier

In [33]:
df = pd.DataFrame({
    'running nose': ['+','+','-','+','-','-'],
    'coughing':     ['+','+','-','-','-','+'],
    'reddened skin':['+','-','+','-','-','+'],
    'fever':        ['-','-','+','-','-','-'],
    'Classification': ['Positive', 'Positive', 'Positive', 'Negative', 'Negative', 'Negative']
})
df

  running nose coughing reddened skin fever Classification
0            +        +             +     -       Positive
1            +        +             -     -       Positive
2            -        -             +     +       Positive
3            +        -             -     -       Negative
4            -        -             -     -       Negative
5            -        +             +     -       Negative

In [34]:
df.replace({'+': 1, '-': 0}, inplace=True)

In [35]:
X = df[df.drop(columns=['Classification']).columns]
y = df['Classification']

### Create and train the Naive Bayes classifier

In [36]:
classifier = NaiveBayesClassifier()
classifier.fit(X.values, y.values)

#### Predict the values using model

In [37]:
Test = pd.DataFrame({
    'running nose': ['-','+','+'],
    'coughing':     ['+','-','-'],
    'reddened skin':['-','-','+'],
    'fever':        ['+','+','-']
})
Test

  running nose coughing reddened skin fever
0            -        +             -     +
1            +        -             -     +
2            +        -             +     -

In [38]:
Test.replace({'+': 1, '-': 0}, inplace=True)

In [39]:
Test['Classification'] = classifier.predict(Test.values)
Test

   running nose  coughing  reddened skin  fever Classification
0             0         1              0      1       Positive
1             1         0              0      1       Positive
2             1         0              1      0       Positive

In [40]:
Test.replace({1:'+', 0:'-'}, inplace=True)
Test

  running nose coughing reddened skin fever Classification
0            -        +             -     +       Positive
1            +        -             -     +       Positive
2            +        -             +     -       Positive

### Create and train the Bayes Optimal classifier

In [41]:
# Function to calculate the prior probabilities of each class
def calculate_prior_probabilities(df):
    class_counts = df['Classification'].value_counts()
    total_samples = df.shape[0]
    priors = {}
    for class_label, count in class_counts.items():
        priors[class_label] = count / total_samples
    return priors

# Function to calculate the likelihood probabilities of each feature for each class
def calculate_likelihood_probabilities(df, feature, class_label):
    feature_counts = df[df['Classification'] == class_label][feature].value_counts()
    total_samples_in_class = df[df['Classification'] == class_label].shape[0]
    likelihoods = {}
    for feature_value in df[feature].unique():
        if feature_value in feature_counts:
            likelihoods[feature_value] = feature_counts[feature_value] / total_samples_in_class
        else:
            likelihoods[feature_value] = 0
    return likelihoods

# Function to make predictions for a new instance
def predict_instance(instance, priors, likelihoods):
    best_class = None
    max_posterior_prob = -1
    
    for class_label in priors:
        posterior_prob = priors[class_label]
        
        for feature in instance:
            posterior_prob *= likelihoods[feature][class_label][instance[feature]]
            
        if posterior_prob > max_posterior_prob:
            max_posterior_prob = posterior_prob
            best_class = class_label
    
    return best_class

In [42]:

# Calculate prior probabilities
priors = calculate_prior_probabilities(df)

# Calculate likelihood probabilities
likelihoods = {}
for feature in X.columns:
    likelihoods[feature] = {}
    for class_label in priors:
        likelihoods[feature][class_label] = calculate_likelihood_probabilities(df, feature, class_label)

In [43]:
#### Predict the values using model
Test = [ 
    {'running nose': 0, 'coughing': 1, 'reddened skin': 0, 'fever': 1},
    {'running nose': 1, 'coughing': 0, 'reddened skin': 0, 'fever': 1},
    {'running nose': 1, 'coughing': 0, 'reddened skin': 1, 'fever': 0}
]
Test

[{'running nose': 0, 'coughing': 1, 'reddened skin': 0, 'fever': 1},
 {'running nose': 1, 'coughing': 0, 'reddened skin': 0, 'fever': 1},
 {'running nose': 1, 'coughing': 0, 'reddened skin': 1, 'fever': 0}]

In [44]:
predictions = []
for x in Test:
    predicted_class = predict_instance(x, priors, likelihoods)
    predictions.append(predicted_class)
print("Predicted Classes:", predictions)

Predicted Classes: ['Positive', 'Positive', 'Positive']

# END